@using Todo.WebUI.Models
@model UserViewModel

<div class="row">
    @using (Html.BeginForm("RemoveFriend", "Friends", new { Model.FriendId }, FormMethod.Post, new
    {
        @class = "navbar-form",
        id = "login-form"
    }))
    {
        @Html.AntiForgeryToken()
        <div class="col-md-4 col-md-offset-1">
            @Html.Label("FullName", $"{Model.Name} {Model.Surname}")
        </div>
        <div class="col-md-5 col-md-offset-1">
            <img src="@Url.Action("GetPhoto", "Profile", new {id = Model.FriendId})" height="10" class="img-thumbnail" alt="Profile Image" />
        </div>
        <div class="col-md-1">
            <input type="submit" class="btn btn-default" value="Remove" />
        </div>
        <hr/>
    }
</div>
