@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated) {
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" })) {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li><a href="javascript:document.getElementById('logoutForm').submit()" class="underline-anim">Log off</a></li>
        </ul>
    }
} else {
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink(Resources.Resource.Register, "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "underline-anim" })</li>
        <li>@Html.Partial("_LoginForm", new ViewDataDictionary())</li>
    </ul>
}
@Html.Partial("_CulturePartial")
