
/** {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

#wrap {
    display: flex;
    flex-direction: column;
    height: 100%;
}

header {
    height: 150px;
    background: #f4e300;
    z-index: 20;
    box-shadow: 0 1px 10px #333;
}

    header h1 {
        line-height: 150px;
        display: inline-block;
        padding: 0 20px;
        font-size: 80px;
        margin: 0 100px;
        color: black;
    }

#reg-block {
    text-align: center;
    float: right;
    margin: 35px 20px;
}

    #reg-block div,
    #log-in-block div {
        font-size: 18px;
        text-shadow: 0 1px 2px #333;
    }

footer {
    flex: 0 0 auto;
    height: 135px;
    background: #f4e300;
    clear: both;
    width: 100%;
    text-align: center;
}

.todo-container {
    height: 100%;
    flex: 1 0 auto;
    background-image: url(desktop.png);
    background-size: cover;
}

    .todo-container ul {
        font-size: 35px;
        color: #f4e300;
        text-align: center;
        vertical-align: middle;
        padding-top: 200px;
    }

        .todo-container ul li {
            padding: 20px;
        }

            .todo-container ul li p {
                padding-top: 20px;
            }*/
* {
    font-family: cursive;
}

.navbar-default {
    background: #f4e300;
    min-height: 110px;
    border-radius: 0;
    margin: 0 auto;
}

.navbar-brand {
    color: black;
}

.navbar-default .navbar-brand {
    color: black;
    line-height: 110px;
    padding: 30px;
    font-size: 65px;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

    .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
        color: black;
    }

.navbar-nav > li > a {
    line-height: 110px;
    font-size: 30px;
    padding: 30px;
    color: black;
}

    .navbar-nav > li > a::before {
        display: block;
        position: absolute;
        content: "";
        height: 2px;
        width: 0;
        background-color: red;
        transition: width .5s ease-in-out, left .5s ease-in-out;
        left: 51%;
        bottom: 0;
    }

    .navbar-nav > li > a::after {
        display: block;
        position: absolute;
        content: "";
        height: 2px;
        width: 0;
        background-color: red;
        transition: width .5s ease-in-out;
        left: 50%;
        bottom: 0;
    }

    .navbar-nav > li > a:hover::before {
        width: 50%;
        left: 0;
    }

    .navbar-nav > li > a:hover::after {
        width: 50%;
    }
