* {
    font-family: cursive;
}

h1 {
}

.navbar-default {
    background: #f4e300;
    min-height: 110px;
    border-radius: 0;
    margin: 0 auto;
    border: none;
    border-color: transparent;
}

.container-fluid > h1 {
    margin: 0;
}



.navbar-brand {
    color: black;
}

.navbar-default .navbar-brand {
    color: black;
    line-height: 110px;
    padding: 30px;
    font-size: 65px;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

    .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
        color: black;
    }

.navbar-nav > li > a {
    line-height: 110px;
    font-size: 30px;
    padding: 30px;
    color: black;
    transition: color .3s ease-in-out;
}

.menu-dropdown {
    margin-top: 71px;
    border: 1px solid #000;
    width: 150px;
    border-radius: 10px;
    transition: all .5s ease-in-out;
}

    .menu-dropdown select {
        border-radius: 10px;
        background: transparent;
        height: 34px;
        padding: 5px;
        border: 0;
        font-size: 16px;
        width: 150px;
    }

.container {
    height: 700px;
    width: 100%;
    background-image: url(desktop.png);
    background-size: cover;
    background-position: center;
    padding: 0;
    max-width: none;
}

/*.container > ul {
        min-width: 500px;
        margin: 150px;
        font-size: 25px;
        color: #f4e300;
        list-style: inside;
        line-height: 2.1em;
    }*/

footer {
    text-align: center;
    background: #f4e300;
}

.underline-anim {
}

    .underline-anim::before {
        display: block;
        position: absolute;
        content: "";
        height: 2px;
        width: 0;
        background-color: red;
        transition: width .5s ease-in-out, left .5s ease-in-out;
        left: 51%;
        bottom: 0;
    }

    .underline-anim::after {
        display: block;
        position: absolute;
        content: "";
        height: 2px;
        width: 0;
        background-color: red;
        transition: width .5s ease-in-out;
        left: 50%;
        bottom: 0;
    }


    .underline-anim:hover::before {
        width: 50%;
        left: 0;
    }

    .underline-anim:hover::after {
        width: 50%;
    }

.btn-default {
    border-radius: 0;
    box-sizing: content-box;
    border: 1px dashed black;
    background-color: transparent;
    transition: all .5s ease-in-out;
}

    .btn-default:hover {
        border: 1px dashed black;
        border-radius: 5px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        background-color: #e2d306;
        color: black;
    }

.item > .item-content {
    line-height: 690px;
    font-size: 35px;
    color: white;
    margin: auto;
}

.item-content > blockquote {
    margin: 0 300px;
    line-height: normal;
    display: inline-block;
    vertical-align: middle;
}
