@font-face {
    font-family: "ACLineRegular";
    src: url("../fonts/ACLineRegular.eot");
    src: url("../fonts/ACLineRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/ACLineRegular.woff") format("woff"), url("../fonts/ACLineRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

.navbar-default {
    background: #f4e300;
    height: 100px;
    border-radius: 0;
    margin: 0 auto;
    border: none;
    box-shadow: rgba(0, 0, 0, .3) 0 1px 2px;
    z-index: 1;
}

h2 {
    text-align: center;
    text-shadow: 0 0 1px rgba(0, 0, 0, .4);
    font-family: "ACLineRegular", cursive;
    font-weight: bold;
}

    h2::after {
        content: '';
        display: block;
        height: 1px;
        width: 50%;
        background-color: red;
        position: relative;
        left: 25%;
        bottom: -10px;
    }

.navbar-header > a {
    color: black;
    line-height: 100px;
    height: 100px;
    padding: 0 40px;
    font-size: 40px;
    transition: all .3s ease-in-out;
    font-family: "ACLineRegular", cursive;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: black;
}

.navbar-nav > li > a {
    line-height: 100px;
    font-size: 25px;
    padding: 0 10px;
    color: black;
    transition: color .3s ease-in-out;
    font-family: "ACLineRegular", cursive;
}

.menu-dropdown {
    height: 36px;
    box-sizing: border-box;
    margin: 32px 3px;
    border: 1px solid #000;
    width: 150px;
    border-radius: 10px;
    font-family: "ACLineRegular", cursive;
    float: right;
}

    .menu-dropdown select {
        border-radius: 10px;
        background: transparent;
        height: 34px;
        padding: 5px;
        border: 0;
        font-size: 16px;
        width: 150px;
    }

.navbar-form {
    margin: 0;
    font-size: 20px;
}

#login-form a {
    font-size: 20px;
    padding: 0 2px;
    color: rgb(108, 108, 108);
    text-decoration: none;
    line-height: 100px;
    display: inline-block;
    font-family: "ACLineRegular", cursive;
    transition: color .3s ease-in-out;
}

    #login-form a:hover {
        color: black;
    }

#login-form > .checkbox > label {
    font-family: "ACLineRegular", cursive;
    font-size: 20px;
    display: inline-block;
    line-height: 96px;
    color: rgb(108, 108, 108);
}

footer {
    text-align: center;
    background: #f4e300;
    box-shadow: rgba(0, 0, 0, .3) 0 -1px 2px;
    flex: 0 0 auto;
}

.underline-anim {
    position: relative;
}

    .underline-anim::before {
        display: block;
        position: absolute;
        content: "";
        height: 2px;
        width: 0;
        background-color: red;
        transition: width .5s ease-in-out, left .5s ease-in-out;
        left: 51%;
        bottom: 0;
    }

    .underline-anim::after {
        display: block;
        position: absolute;
        content: "";
        height: 2px;
        width: 0;
        background-color: red;
        transition: width .5s ease-in-out;
        left: 50%;
        bottom: 0;
    }


    .underline-anim:hover::before {
        width: 50%;
        left: 0;
    }

    .underline-anim:hover::after {
        width: 50%;
    }

.btn {
    box-sizing: border-box;
    border-radius: 0;
    transition: all .5s ease-in-out;
    font-family: "ACLineRegular", cursive;
}

.btn-default {
    border-radius: 0;
    border: 1px solid #f5c576;
    transition: all .5s ease-in-out;
}

    .btn-default:hover {
        background-color: #f2ae5c;
        color: white;
    }

.selected {
    background-color: #f5c576;
}

.item {
    display: flex;
    justify-content: center;
    overflow: auto;
    width: 100%;
    height: 100%;
    position: fixed;
    justify-content: center;
}

    .item > .item-content {
        text-align: center;
        margin: auto;
    }

.item-content > p {
    font-size: 30px;
    color: white;
    font-family: "ACLineRegular", cursive;
    line-height: 100vh;
}

.carousel {
    background-image: url(desktop.png);
    background-size: cover;
    background-position: center;
}

.form-control {
    border-radius: 4px;
    font-family: "ACLineRegular", cursive;
}

.control-label {
    font-size: 20px;
    font-weight: normal;
    font-family: "ACLineRegular", cursive;
}

html,
body {
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#my-carousel {
    height: 100vh;
}

.content {
    flex: 1 0 auto;
}

.field-validation-error {
    background-color: #261d15;
    color: white;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    box-shadow: black 0 0 2px;
    min-height: 50px;
    display: block;
    text-align: center;
    position: relative;
}

    .field-validation-error > span:before {
        content: '';
        width: 3px;
        height: 80%;
        background-color: #f4e300;
        position: absolute;
    }

    .field-validation-error::before {
        content: '';
        position: absolute;
        border: 20px solid transparent;
        border-top: 20px solid #261d15;
        bottom: -40px;
        left: calc(50% - 20px);
    }

.profile-photo {
    max-height: 300px;
}

.task-item {
    background-color: #261d15;
    color: white;
    border-radius: 10px;
    padding: 0;
    margin: 30px 10px;
    box-shadow: black 0 0 2px, rgba(0, 0, 0, .6) 0 0 10px;
    position: relative;
    transition: box-shadow .4s ease-in-out;
}

    .task-item:hover {
        box-shadow: black 0 0 2px, rgba(0, 0, 0, .6) 0 0 22px;
    }

    .task-item::before {
        padding: 0;
        margin: 0;
        content: '';
        display: block;
        height: 40px;
        border-radius: 10px 10px 0 0;
        background-color: white;
    }

    .task-item::after {
        content: '';
        position: absolute;
        left: calc(50% - 16px);
        bottom: -36px;
        border: 16px solid transparent;
        border-top: 20px solid #261d15;
    }

    .task-item > form > h3 {
        text-align: center;
        position: absolute;
        font-size: 24px;
        line-height: 40px;
        padding: 0;
        color: black;
        top: -16px;
        width: 100%;
        font-family: "ACLineRegular", cursive;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .task-item div #TaskState {
        margin: 10px;
        position: relative;
        left: calc(50% - 85px);
        color: black;
    }

    .task-item div .btn {
        background-color: #f5c576;
        font-family: "ACLineRegular", cursive;
        font-size: 16px;
        color: black;
        border: black solid 1px;
    }

.task-description {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: white;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    margin: 0 auto;
    padding: 6px 30px;
    display: block;
    font-family: "ACLineRegular", cursive;
}

.btn-primary {
    color: black;
}

#main-menu {
    position: relative;
    overflow: hidden;
    height: 40px;
    margin: 0;
    background-color: #f3ab00;
    box-shadow: rgba(0, 0, 0, .3) 0 1px 2px;
}

menu {
    list-style: none;
    position: relative;
    height: 40px;
    float: left;
    margin: 0;
    padding: 0;
    left: 50%;
}

#main-menu menu li {
    position: relative;
    float: left;
    left: -50%;
    height: 40px;
    transition: background-color .4s ease-in-out;
}

    #main-menu menu li .glyphicon {
        font-family: none;
    }

    #main-menu menu li a {
        line-height: 40px;
        text-decoration: none;
        color: black;
        display: inline-block;
        text-transform: uppercase;
        padding: 0 15px;
        font-size: 20px;
        font-family: "ACLineRegular", cursive;
    }

    #main-menu menu li::after {
        position: absolute;
        bottom: 15%;
        left: 0;
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background-color: red;
        opacity: 0;
        transition: opacity .5s ease-in, bottom .4s ease-out;
    }

    #main-menu menu li:hover::after {
        opacity: 1;
        bottom: 0;
    }

    #main-menu menu li:hover {
        background-color: rgba(240, 240, 240, .4);
    }

input[type="text"] {
    font-family: "ACLineRegular", cursive;
}

#map {
    min-height: 600px;
}

.controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
    background-color: #fff;
    font-family: "ACLineRegular", cursive;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
}

    #pac-input:focus {
        border-color: #4d90fe;
    }

.pac-container {
    font-family: "ACLineRegular", cursive;
}

#type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
}

    #type-selector label {
        font-family: "ACLineRegular", cursive;
        font-size: 13px;
        font-weight: 300;
    }

.confirmation {
    font-size: 20px;
}

    .confirmation .glyphicon {
        color: #4b8812;
    }

#forgot-button {
    font-size: 12px !important;
    line-height: 94px !important;
}

#appCulture {
    display: inline-block;
}

.task-item .row .task-time {
    text-align: center;
    font-family: "ACLineRegular", cursive;
    font-size: 20px;
}

    .task-item .row .task-time > span {
        font-size: 22px;
        text-decoration: underline;
        text-decoration-color: red;
    }

.task-item .row .btn-group {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

/*.btn-custom-group {
    margin: 0 auto;
    text-align: center;
}*/

/*.btn-custom-group .btn {
    width: 25%;
}

.btn-custom-group form {
    margin: 0;
}

.btn-custom-group form .btn{
    width: 100%;
}*/

/*---------------------------------------------------------------------------------*/

/*Animation*/

/*---------------------------------------------------------------------------------*/

/*.round1, .round1:before, .round1:after{
    border: 5px solid transparent;
    border-radius: 50%;
}

.round1 {
    width: 150px;
    height: 150px;
    margin: 50px auto;
    position: relative;
    border-top-color: #ff0;
    -webkit-animation: spin 1s infinite linear;
    animation: spin .8s infinite linear;
}

.round1:before, .round1:after {
    content: '';
    position: absolute;
}

.round1:before{
    top:10px;
    left:10px;
    right: 10px;
    bottom: 10px;
    border-top-color: skyblue;
     -webkit-animation: spin 1s infinite linear;
    animation: spin .4s infinite linear;
}

.round1:after{
    top:23px;
    left:23px;
    right: 23px;
    bottom: 23px;
    border-top-color: red;
     -webkit-animation: spin .6s infinite linear;
    animation: spin .6s infinite linear;
}

@-webkit-keyframes spin {
    from {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    }
    to {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    }
}

@-moz-keyframes spin {
    from {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    }
    to {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    }
    to {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    }
}*/

/*#loading-center{

    width: 100%;
    height: 100%;
    position: relative;
}

#loading-center-absolute {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 150px;
    width: 150px;
    margin-top: -75px;
    margin-left: -75px;
}*/

#load-section {
    width: 100%;
    display: flex;
    justify-content: center;
}

.object {
    width: 20px;
    height: 20px;
    background-color: red;
    float: left;
    margin-right: 20px;
    margin-top: 65px;
    -moz-border-radius: 50% 50% 50% 50%;
    -webkit-border-radius: 50% 50% 50% 50%;
    border-radius: 50% 50% 50% 50%;
}

#object_one {
    -webkit-animation: object_one 1.5s infinite;
    animation: object_one 1.5s infinite;
}


#object_two {
    -webkit-animation: object_two 1.5s infinite;
    animation: object_two 1.5s infinite;
    -webkit-animation-delay: 0.25s;
    animation-delay: 0.25s;
}

#object_three {
    -webkit-animation: object_three 1.5s infinite;
    animation: object_three 1.5s infinite;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

@-webkit-keyframes object_one {
    75% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
}

@-moz-keyframes object_one {
    75% {
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        -webkit-transform: scale(0);
        transform: scale(0);
    }
}

@keyframes object_one {
    75% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
}

@-webkit-keyframes object_two {
    75% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
}

@keyframes object_two {
    75% {
        transform: scale(0);
        -webkit-transform: scale(0);
    }
}

@-webkit-keyframes object_three {
    75% {
        -webkit-transform: scale(0);
    }
}

@keyframes object_three {
    75% {
        transform: scale(0);
        -webkit-transform: scale(0);
    }
}



/*---------------------------------------------------------------------------------*/

/*Animation*/

/*---------------------------------------------------------------------------------*/

input[type$="text"],
input[type$="password"],
input[type$="file"],
textarea {
    font-family: cursive !important;
}

textarea {
    resize: vertical;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

#TaskState {
    height: 40px;
    max-width: 150px;
    font-size: 15px;
    border-radius: 5px;
    padding: 0;
}

/*Preloader*/

.round, .round:after, .round:before {
    border: 6px solid transparent;
    border-radius: 50%;
    z-index: 1000;
}

.round {
    top: 50%;
    left: 50%;
    height: 150px;
    width: 150px;
    position: absolute;
    margin: -75px -75px;
    border-top-color: blue;
    border-bottom-color: blue;
    -webkit-animation: spin 3s infinite linear;
    animation: spin 1.5s infinite linear;
    z-index: 1000;
}

    .round:after, .round:before {
        content: '';
        position: absolute;
    }

    .round:after {
        top: 30px;
        left: 30px;
        right: 30px;
        bottom: 30px;
        border-top-color: red;
        border-bottom-color: red;
        -webkit-animation: spin 2s infinite linear;
        animation: spin .5s infinite linear;
        z-index: 1000;
    }

    .round:before {
        top: 10px;
        left: 10px;
        right: 10px;
        bottom: 10px;
        border-top-color: yellow;
        border-bottom-color: yellow;
        -webkit-animation: spin 1s infinite linear;
        animation: spin 1s infinite linear;
        z-index: 1000;
    }

.preloaderBack {
    background: #f3ab00;
    position: fixed;
    width: 100vw;
    height: 100vh;
}

@keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

#pl {
    display: block;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-width: 1000px;
    background: #f3ab00;
}
