@{
    ViewBag.Title = "Контакты";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <p>Sit amet, consectetur.</p>  
    <p>Sit amet, consectetur.</p>
    <p>Amet, consectetur adipiscing elit.</p>
</address>
<address>
    <strong>Support:</strong>   <a href="mailto:adm51.14.01@gmail.com">adm51.14.01@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:adm51.14.01@gmail.com">adm51.14.01@gmail.com</a>
</address>