@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <ul>
        <li>Это удобный способ создавать заметки.</li>
        <li>
            Получите доступ к Вашим заметкам
            <p>на любом устройстве имеющем доступ к интернету.</p>
        </li>
        <li>Сохраняйте Ваши идеи, деловые заметки на удобном онлайн ресурсе.</li>
        <li>Получайте напоминания о приближающихся событиях.</li>
    </ul>
</div>