@{
    ViewBag.Title = Resource.EmailConfirmation;
}

<h2>@ViewBag.Title.</h2>
<div class="container">
    <p class="text-center confirmation">
        <span class="glyphicon glyphicon-ok"></span>
        @Resource.EmailConfirmed
    </p>
</div>
